
.containerExperience{
    display: flex;
    justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
}
.CardExperience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

}
.ImgCardExperience{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.Bar1{
    width: 90px;
    height: 15px;
    background-color: #c1ff95;
    border-radius: 10px;
    margin: 3px 0 0;
    
}
.Bar2{
        width: 50px;
            height: 15px;
            background-color: #39a900;
            border-radius: 10px;
}